/* Arian AMU */
@font-face {
    font-family: ArianAMU;
    src: url(../fonts/arnamu.ttf);
    font-weight: 400;
}

@font-face {
    font-family: ArianAMU;
    src: url(../fonts/arnamu_bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: ArianAMU;
    src: url(../fonts/arnamu_italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: ArianAMU;
    src: url(../fonts/arnamu_italic_bold.ttf);
    font-style: italic;
    font-weight: 800;
}